In [8]:
import json
import requests
import os
import pandas as pd
#Using the `Ticker` module we can create an object that will allow us to access functions to extract data. \
#To do this we need to provide the ticker symbol for the stock, here the company is Apple and the ticker symbol is `AAPL`.

In [53]:
with open('jobs2.json') as json_file:
    job_list = json.load(json_file)

In [100]:
count=0
for data in job_list:
    job_title = data.get('Job Title')
    if  (job_title.find('Python')!=-1) :
            count=count+1
           # print(data.get('Id'), job_title )
print ('Total:' , count)

Total: 191

In [101]:
def get_number_of_jobs_T(technology):
  number_of_jobs=0
  for data in job_list:
    job_title = data.get('Job Title')
    job_id =  data.get('Id')
    if  (job_title.find(technology)!=-1) :
            number_of_jobs+=1
           # print("Job ID: ",job_id," - > ", job_title )
  return technology,number_of_jobs

In [102]:
get_number_of_jobs_T("Python")

('Python', 191)

In [103]:
 def get_number_of_jobs_L(location):
    number_of_jobs=0
    for data in job_list:
        job_location = data.get('Location')
        job_id =  data.get('Id')
        if  (job_location.find(location)!=-1) :
            number_of_jobs+=1
           # print("Job ID: ", job_id," - > ", job_location )
    return location,number_of_jobs

In [104]:
 get_number_of_jobs_L("Los Angeles")

('Los Angeles', 640)

In [105]:
Tech_list=["Python", "Adobe" , "Azure" , "Oracle","Java"]

In [106]:
for job_tech in Tech_list:
   print(get_number_of_jobs_T(job_tech))

('Python', 191)
('Adobe', 13)
('Azure', 44)
('Oracle', 190)
('Java', 850)

In [96]:
from openpyxl import Workbook        # import Workbook class from module openpyxl
wb=Workbook()                        # create a workbook object
ws=wb.active  
for job_tech in Tech_list:

    ws.append(get_number_of_jobs_T(job_tech))   # add a row with two columns 'Country' and 'Continent'
wb.save("job-postings.xlsx")            # save the workbook into a file called countries.xlsx

In [107]:
Tech_list2=["C#",
"C",
"C++",
"Java",
"JavaScript",
"Python",
"Scala",
"Oracle",
"SQL Server",
"MySQL Server",
"PostgreSQL",
"MongoDB"]
wb=Workbook()                        # create a workbook object
ws=wb.active  
for job_tech in Tech_list2:
    ws.append(get_number_of_jobs_T(job_tech))   # add a row with two columns 'Country' and 'Continent'
wb.save("github-job-postings.xlsx")

In [108]:
loc_list= ["Washington DC", "Los Angeles" ,"New York"] 
for lis_l in loc_list: 
    print(get_number_of_jobs_L(lis_l))

('Washington DC', 5316)
('Los Angeles', 640)
('New York', 3226)