In [8]:
import json
import requests
import os
import pandas as pd
#Using the `Ticker` module we can create an object that will allow us to access functions to extract data. \
#To do this we need to provide the ticker symbol for the stock, here the company is Apple and the ticker symbol is `AAPL`.

In [53]:
with open('jobs2.json') as json_file:
    job_list = json.load(json_file)

In [91]:
count=0
for data in job_list:
    job_title = data.get('Job Title')
    if  (job_title.find('Python')!=-1) :
            count=count+1
            print(data.get('Id'), job_title )
print ('Total:' , count)

156 Python Developer
217 Python Developer
412 Senior Business Analyst - Sql/Python
448 Python Manager - IIT/ IIM/ DSE/ ISI
577 Senior Software Engineer/ Team Lead -Python/ Django
579 Software Engineer - Node.js/ Java/Python
713 Tcs Florida is Hiring forPython Developers
744 Python/django Developer
805 Python Scripting Professional
845 Devops -Python :oracle-bangalore
1030 Sr. Full Stack Developer_fort (Arizona)react & Node/Python is Mandatory
1057 Python Developer
1117 Full Stack Developer -Python & Java
1139 Python Tester -New York
1411 Big Data Developer - Tableau/Python/r
1435 Python Scripting
1706 Python Developer
1739 Software Engineer, :NO Resume Campaign C++,Python
2069 Python Scripting
2105 Python Developer - Analytics, Bangalore
2118 Python Software Developers
2357 Network Virtualization System Engineer - Unix/ Kernel/Python
2391 An Urgent Opening For full Stack Developer- Core Java/Python, Chennai
2934 Python Developer - Django/ Mysql
3250 Opening forPython Developer
3357 Software Engineering -Python
3644 Immediate Opening ForPython with C++ - CMML 5 Company - Bangalore -
3999 Python Developer
4004 Python Developer
4145 C2H Opportunity for "Python Testing" Professionals @ Thane / Kochi
4732 Data Scientist / Data Science Trainer -Python & R - Deep Learning
4849 Python Developer - Hypervisors
4987 Software Engineer -Python Developer
5045 Python Developer
5250 Walking - Senior Software Engineer -Python or Java+aws- Morningstar
5443 Devops-Python
5483 Python Bigdata
6244 Python Sr developer
6245 Python Developer
6382 Python Web Developer - Django
6392 Backend Developer [node Js,Python
6727 Associate Software Engineer(Python/ui(javascript)/qa)
6762 Senior Consultant - Analytics - Sas/r/Python
6921 Python Lead
7186 Python Full Stack Developer (startup)
7242 Python Developer
7266 Python Node.js Developer -hyderabad
7532 Lead Consultant-front Arena ( Trading,Python, C / .NET )
7814 C &amp;Python
8026 Senior Data Engineer |Python | Big Data
8037 Python Developer
8138 Senior Business Analyst/assistant Manager - Machine Learning/r/Python
8162 Sr. Data Scientist - R,Python, Machine Learning
8574 Sr . Software Engineer -Python
8942 Impressive Recruitment |Python Developer | MNC | CMML5
9213 Python Developer - Microservices & Cloud
9334 Technical Lead - Cloud, Java/Python, Databases
9943 Junior Php andPython Developer
10089 Python Developer
10147 Automation Test Engineer (Python)
10218 Looking ForPython Experts | Xoriant | Kolkata
10395 Urgent Opening forPython Architect (AWS & GCP) Florida
10406 Senior Full Stack Developer -Python
10510 Python Developer /Python Architect
10543 Python Developer
10654 Python Developer
10683 Data Visualization Specialists â€“Python + SQL â€“ Accenture HYD
10712 Senior Devops Engineer withPython - Florida
10822 Senior Artificial Intelligence Engineer - Java/j2ee/Python
11142 Python Developer - Django/flask
11147 Software Engineer -Python/django
11644 Machine Learning Engineer - Nlp/Python
11732 Immediate Opening forPython Developer @ Bangalore Location
11774 Back End Engineer - Java/ Jetty/Python
11820 FullstackPython developer
12270 Lead Data Scientist withPython and Pair Programming Skills
12817 Python Developer
13017 Senior Software Engineer - Web Development -Python/java/ruby on Rails
13287 Python Developer
13427 SeniorPython Developers
13466 Python Developer - Java/ Django
13645 Senior Backend Software Engineer -Python/django - Retail Domain
13673 SeniorPython Automation Engineer
13698 Product Manager -Python
13928 Python Developer
13955 Back End Developer -Python/django - Startup
14130 ETL Testing (java,Python & Javascript)
14475 Python Developer
14599 Lead Engineer - Web Development -Python/java/ruby/c#
14681 Programmer_Python
14748 C++/Python/perl--developer|| Morgan Stanley|| Arizona-malad West
14927 Urgent Requirement for the post of BACK END Engineer(Python) for Ahema
15104 Senior Business Analyst/manager - Insurance Analytics - Sas/r/Python
15120 Python Developer/salary Up to 9 Lpa/New York
15142 Customer Support -linux/unix, Shell/Python/perl
15261 Python / Django Developer
15448 Python Developer
15635 Big Data Consultant -Python/r/java/hadoop/hive+
15757 Devops Manager - Mysql/Python
15952 R ProgrammerPython
15995 Actively Hiring :: Sr. Program Manager (java/Python/cloud)
16195 Hiring ForPython Developer
16849 Hiring Trained Freshers on Java, Dot Net &Python Developers_hyderbad
16854 AssociatePython Developer
17193 Python Developer
17316 Python Developer - Django/ Flask
17394 Python Scripting+linux Opening
17543 Technical Lead - Cloud, Java/Python, Databases
17557 Python Automation Tester - Bangalore
17617 Python Developer with Java Skill @ Chennai Location 8 + Years
17745 Test Manager - Java/Python/selenium
17826 Ba/sba/am -Python/hadoop/pyspark
18051 Python Developer
18498 Maps (gis)-spark, Scala WithPython @ Infosys
18698 VP - Technology -Python/flask/django
18724 Python Developer
19034 Python Developer
19135 Python Engineer
19145 Python Developer
19152 Senior Developers ( Java / C++ /Python) for a US Based Ecommerce MNC
19417 Sr.Python Developer: Oracle Bangalore/New York/hyderabad
19598 Data Analyst - SAS, SQL, Hive andPython
19878 Senior Software Engineer -Python/java
20151 Date Warehousing Engineer - Java/Python
20219 Software Engineer/testing/quality- QA/Python/ web - New York
20402 Python + Scrapy
20521 Python Developer - (New York)
20678 CPython App/Production Support New Jersey Interview location chennai
20918 Python Developer
20965 Python Django Developer @ ( Magarpatta)location
21039 Junior PHP /Python Developer &amp; Automation Expert
21111 Python Developer
21180 Python Programming- Faculty
21389 Sr. Software Engineer-Python
21491 SeniorPython Developer
21518 Python and Pyspark Developer / Senior Developer / Lead
21590 Python Developer Lead- New Jersey-mnc IT Company
21816 Urgently HiringPython Lead @ Tejora Private Ltd, at Arizona, Goregaon
21854 Devops Engineer - Ansible/chef/Python
22263 Machine Learning Developer - R/Python
22330 Advance Analytics - R Programming,Python & Statistics
22581 Urgent Opening:Python - .Net React JS Developer @ Top MNC -bangalore
22667 Python Trainer, Digital Marketing Trainer, Data Science, AWS Trainer
22706 Tcs Hiring forPython Developer for Kolkata Location
22893 Analytics Manager-r,Python,sql
22964 Python Developer - Mvc/webservices
22997 Senior Software Engineer -Python/golang/ruby on Rails
23009 Python Developer - Junior/senior/lead
23029 Senior Software Engineer - Matlab /Python
23042 Python Dev
23328 Python Developer:
23377 Backend Developer (Python/php/node.js)
23576 Lead Developer -Python
23724 SeniorPython Developer
23743 Openstack Developer -Python
23915 Python Developer (web Scraper)
23931 C++ Developer - Java/Python
24170 SeniorPython Developer - Django/flask
24339 SeniorPython Developer - Restful Webservices
24820 Software Engineer-Python/ Workflow
24928 Python Developer
24988 Excellent Opening For ERP Lead /Python
25246 SeniorPython Developer
25300 Python Developer - Django Framework
25603 Python Developer
25842 Full StackPython Developer - Django/linux
26024 KESARI IT -Python DEVELOPER
26102 System Developer - C/c++/java/Python
26107 Looking ForPython Enthusiast @ Industrybuying.com
26388 Python Scripting
26489 Python Developer - Java/django
26551 Python Developer
26878 Python Developer (apache)
27026 Python Data Engineer - Web Scraping
27471 Urgent Req-Python Developers-Arizona
27551 Python Developer - Django/ Flask - Elearning Domain
27652 Data Analyst - Sql/r/Python
27704 Opening / Sr.Python Developer / Bangalore
27758 Embedded C/ C++ Developer (Python/perl Script)
27801 Programming Tutor (C, C++, Java,Python, Magento) Required - Ohio
27869 Python Sr. Developer
27977 GIS Analyst cum GIS Developer (javascrip &Python)
28065 Python Developer
28247 Python Scripting
28940 Python Developer
28962 Tools & Automation in Splunk or Elasticsearch/saltstack/Python Web Fra
29148 Platform Engineer - Etl/Python
29256 Python Developer
29350 AWS Application Developer -Python / Java
29564 Opening -Python Developer (oops,gui) for New Jersey Location
29823 C++/Python Expert with Networking Skills
Total: 191

In [81]:
def get_number_of_jobs_T(technology):
  number_of_jobs=0
  for data in job_list:
    job_title = data.get('Job Title')
    job_id =  data.get('Id')
    if  (job_title.find(technology)!=-1) :
            number_of_jobs+=1
           # print("Job ID: ",job_id," - > ", job_title )
  return technology,number_of_jobs

In [92]:
get_number_of_jobs_T("Python")

('Python', 191)

In [93]:
 def get_number_of_jobs_L(location):
    number_of_jobs=0
    for data in job_list:
        job_location = data.get('Location')
        job_id =  data.get('Id')
        if  (job_location.find(location)!=-1) :
            number_of_jobs+=1
           # print("Job ID: ", job_id," - > ", job_location )
    return location,number_of_jobs

In [88]:
 get_number_of_jobs_L("Los Angeles")

('Los Angeles', 640)

In [94]:
Tech_list=["Python", "Adobe" , "Azure" , "Oracle","Java"]

In [95]:
for job_tech in Tech_list:
   print(get_number_of_jobs_T(job_tech))

('Python', 191)
('Adobe', 13)
('Azure', 44)
('Oracle', 190)
('Java', 850)

In [96]:
from openpyxl import Workbook        # import Workbook class from module openpyxl
wb=Workbook()                        # create a workbook object
ws=wb.active  
for job_tech in Tech_list:

    ws.append(get_number_of_jobs_T(job_tech))   # add a row with two columns 'Country' and 'Continent'
wb.save("job-postings.xlsx")            # save the workbook into a file called countries.xlsx

In [97]:
Tech_list2=["C#",
"C",
"C++",
"Java",
"JavaScript",
"Python",
"Scala",
"Oracle",
"SQL Server",
"MySQL Server",
"PostgreSQL",
"MongoDB"]
wb=Workbook()                        # create a workbook object
ws=wb.active  
for job_tech in Tech_list2:
    ws.append(get_number_of_jobs_T(job_tech))   # add a row with two columns 'Country' and 'Continent'
wb.save("job-postings2.xlsx")

In [98]:
loc_list= ["Washington DC", "Los Angeles" ,"New York"] 
for lis_l in loc_list: 
    print(get_number_of_jobs_L(lis_l))

('Washington DC', 5316)
('Los Angeles', 640)
('New York', 3226)